<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chirpnote" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_MEDIA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chirpnote"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChirpNote"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.chirpnote.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"></meta-data>
        </provider>

        <activity
            android:name=".activities.TestTrackPersistenceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SetKeyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SessionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangeUsernameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangeNameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TestOtherActivity"
            android:exported="true" />
        <activity
            android:name=".activities.PercussionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MusicTheoryInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoadSessionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewSessionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MelodyActivity"
            android:exported="false" />
        <activity
            android:name=".activities.KeyboardActivity"
            android:exported="false"/>
<!--            android:screenOrientation="portrait"/>-->
        <activity
            android:name=".activities.SetKeyFromSongActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SmartKeyboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StartUpActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RecordAudioActivity"
            android:exported="true" />
        <service
            android:name=".activities.FloatingWindowService"
            />
    </application>

</manifest>